{% load static %}
<div class="d-flex align-items-stretch mt-3">
<div class="question">
    <div class="row">
<div class="col-2" style="margin:auto;">
    <div class="question-avatar mt-4 mx-3">
        <img class="mx-auto d-block" src="{{answer.author.avatar.url}}" alt="ava">
    </div>
    {% if user.is_authorised and user.id != answer.author.user.id %}
    <div class="ratingbox mx-3 mt-3 text-center">
        <button class="like-a" data-id="{{answer.id}}" data-like="False" style="width:22%; background-color: white; border: none; outline:none;">▼</button>
        <span id = "a-rate-{{answer.id}}" class="mx-1" style="width:60%;">{{ answer.rating }}</span>
        <button class="like-a" data-id="{{answer.id}}" data-like="True" style="width:22%; background-color: white; border: none; outline:none;">▲</button>
    </div>
    {% else %}
    <div class="ratingbox mx-3 mt-3 text-center">
        <button class="like-aforbid" data-id="{{answer.id}}" data-like="False" style="width:22%; background-color: white; border: none; outline:none;">▼</button>
        <span id = "a-rate-{{answer.id}}" class="mx-1" style="width:60%;">{{ answer.rating }}</span>
        <button class="like-aforbid" data-id="{{answer.id}}" data-like="True" style="width:22%; background-color: white; border: none; outline:none;">▲</button>
    </div>
    {% endif %}
</div>
<div class="col-10 d-flex flex-column">
<div style="margin:auto;">{{ answer.text }}
    {%if question.author.user.username ==  user.username%}
        {% if answer.is_verified %}
        <div class="form-check mt-3" id="verif-{{answer.id}}" data-id="{{answer.id}}">
            <input class="form-check-input ver-a" type="checkbox" id="verif-{{answer.id}}" data-id="{{answer.id}}" checked>
            <label class="form-check-label" for="flexCheckDefault"> Правильный ответ </label>
        </div>
        {% else %}
        <div class="form-check mt-3"">
            <input class="form-check-input ver-a" id="verif-{{answer.id}}" data-id="{{answer.id}}" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault"> Правильный ответ </label>
        </div>
        {% endif %}
    {% endif %}
</div>
</div>
</div>
</div>
</div>