{% load static %}
<div class="d-flex align-items-stretch mt-3">
<div class="question">
    <div class="row">
<div class="col-2">
    <div class="question-avatar mt-4 mx-3">
        <img class="mx-auto d-block" src="{{question.author.avatar.url}}" alt="ava">
    </div>
    {% if user.is_authorised and user.id != question.author.user.id %}
        <div class="mx-3 mt-1 text-center">{{question.author.user.username}}</div>
        <div class="ratingbox mx-3 mt-3 text-center">
            <button class="like-q" data-id="{{question.id}}" data-like="False" style="width:22%; background-color: white; border: none; outline:none;">▼</button>
            <span id = "q-rate-{{question.id}}" class="mx-1" style="width:60%;">{{ question.rating }}</span>
            <button class="like-q" data-id="{{question.id}}" data-like="True" style="width:22%; background-color: white; border: none; outline:none;">▲</button>
        </div>
        {% else %}
        <div class="mx-3 mt-1 text-center">{{question.author.user.username}}</div>
        <div class="ratingbox mx-3 mt-3 text-center">
            <button class="like-forbidden" data-id="{{question.id}}" data-like="False" style="width:22%; background-color: white; border: none; outline:none;">▼</button>
            <span id = "q-rate-{{question.id}}" class="mx-1" style="width:60%;">{{ question.rating }}</span>
            <button class="like-forbidden" data-id="{{question.id}}" data-like="True" style="width:22%; background-color: white; border: none; outline:none;">▲</button>
        </div>
        {% endif %}
</div>
<div class="col-10">
<h2><a href="{% url 'question' q_id=question.id %}"> {{ question.title }} </a></h2>
<div class="mb-2"> {{ question.text }}</div>
    <div class="row">
        <div class="col-3">
            Все ответы ({{ question.answers_amount }})
        </div>
        <div class="col-9">
            Tеги: {% for tag in question.tags.all %} <a href="{% url 'tag' tag_name=tag.title %}"> {{tag.title}} </a> {% endfor%}
        </div>
    </div>
</div>
</div>
</div>
</div>