{% extends "base.html" %} {% block content %}
<div class="mt-3 mb-3">
    <h1 class="d-inline me-3">Регистрация</h1></div>
<div class="col-9 mb-3">
    <p>Ошибка!</p>
    <div class="input-group mt-2" style="width: 35%;">
        <span class="input-group-text" id="log"> Логин </span>
        <input type="text" class="form-control">
    </div>
     <div class="input-group mt-2" style="width: 35%;">
        <span class="input-group-text" id="mail">Email</span>
         <input type="text" class="form-control">
    </div>
     <div class="input-group mt-2" style="width: 35%;">
        <span class="input-group-text" id="nick">Никнейм</span>
        <input type="text" class="form-control">
    </div>
     <div class="input-group mt-2" style="width: 35%;">
        <span class="input-group-text" id="pass">Пароль</span>
        <input type="password" class="form-control">
    </div>
     <div class="input-group mt-2" style="width: 35%;">
        <span class="input-group-text" id="reppass">Повтор пароля</span>
        <input type="password" class="form-control">
    </div>
     <div class="input-group mt-2" style="width: 35%;">
         <label class="input-group-text" for="ava">Ava</label>
        <input type="file" class="form-control" id="ava">
    </div>
    <button class="mt-4 btn btn-primary" type="submit">Регистрация </button>
</div>
{% endblock %}
