{% extends "base.html" %} {% block content %}
<div class="mt-3 mb-3">
    <h1 class="d-inline me-3">Настройки пользователя {{ user.username }}</h1></div>
<div class="col-9 mb-3">
    <div class="">Логин может состоять из латинских букв, цифр и символов _ -</div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="input-group mt-2" style="width: 60%;">
            <label class="input-group-text" for="title">{{field.label}}</label>
            {{field.as_widget}}
            <span class = "mx-3"> {{field.errors.0}}</span>
        </div>
        {% endfor %}
        <button class="mt-4 btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}
