{% extends "base.html" %} {% block content %}
{% load static %}
<div class="mt-3 mb-3">
    {% if new %} <h1 class="d-inline me-3">Новые вопросы</h1> <a href="{% url 'actual' %}" class="d-inline">Топовые вопросы</a> {% else %}
    <h1 class="d-inline me-3">Топовые вопросы</h1> <a href="{% url 'index' %}" class="d-inline">Новые вопросы</a> 
    {% endif %}
</div>
<div class="col-lg">
    {% for question in questions %}
                {% include 'include/question.html' %}
    {% endfor %}
    {% include 'include/paginator.html' %}
</div>
<script src="{%static "js/jquery-3.7.0.min.js" %}"></script>
<script src="{%static "js/main.js" %}"></script>
{% endblock %}
